
<div class="modal fade" id="{{modalId}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Action</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="type-action" class="col-form-label">Type action:</label>
               <select class="form-control" id="type-action" name="type-action" [(ngModel)]="currentAction.type">
                  <option *ngFor="let action of actionList" [value]="action">{{action}}</option>
                </select>
            </div>
            <div class="form-group row" *ngIf="isCardSelectionNeeded() && !mustShowMyHandAction()">
              <div class="col">
                  <label for="suit-select" class="form-label">suit:</label>
                  <select class="form-control" id="suit-select" name="suit-select" [(ngModel)]="currentAction.suit">
                    <option *ngFor="let suit of cardsuitList" [ngValue]="suit">{{suit.symbol}}</option>
                  </select>
              </div>
              <div class="col">
                  <label for="value-select" class="form-label">Value:</label>
                  <select class="form-control" id="value-select" name="value-select" [(ngModel)]="currentAction.value">
                      <option *ngFor="let value of cardValueList" [ngValue]="value">{{value.label}}</option>
                    </select>
              </div>
            </div>
            <div class="row" *ngIf="isCardSelectionNeeded() && mustShowMyHandAction() ">
              <div class="col">
                <canasta-card-selection [source]="handSelection"></canasta-card-selection>
              </div>
            </div>
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="doActionAndClose()">Do action and close</button>
          <button type="button" class="btn btn-secondary" (click)="doAction()">Do action</button>
        </div>
      </div>
    </div>
  </div>