
<main class="p-3">
  <div class="fluid-container">
    <div class="row justify-content-md-center">
      <div class="col">
          <button type="button" class="btn btn-light d-block" (click)="opponent1Action.open()">Opponnent 1</button> 
          <canasta-card-back [count]="opponent1.handCount" ></canasta-card-back>
      </div>
      <div class="col-2">
          <button type="button" class="btn btn-light d-block" (click)="partnerAction.open()">Partner</button> 
          <canasta-card-back [count]="partner.handCount"></canasta-card-back>
      </div>
    </div>
    <div class="game-table">
      <div class="row">
          <div class="col-2">
              <p>Red threes</p>
              <canasta-card *ngFor="let card of opponentGame.redThrees" [card]="card"></canasta-card>
          </div>
          <div class="col">
              <p>Oponnent's table</p>
              <canasta-card-sequence *ngFor="let sequence of opponentGame.sequences" [sequence]="sequence"></canasta-card-sequence>
          </div>
      </div>
      <div class="row neutral-zone">
          <div class="col">
              <p>Side deck</p>
              <canasta-card-back *ngIf="board.sideDeck1Avaible"></canasta-card-back>
              <canasta-card-back *ngIf="board.sideDeck2Avaible"></canasta-card-back>
          </div>
          <div class="col">
              <p>Discard</p>
              <canasta-card *ngIf="lastDiscard" [card]="lastDiscard"></canasta-card>
          </div>
          <div class="col">
              <p>Main deck</p>
              <canasta-card-back [count]="board.maindDeckCount"></canasta-card-back>
          </div>
      </div>
      <div class="row">
          <div class="col-2">
              <p>Red threes</p>
              <canasta-card *ngFor="let card of myGame.redThrees" [card]="card"></canasta-card>
          </div>
          <div class="col">
              <p>My table</p>
              <canasta-card-sequence *ngFor="let sequence of myGame.sequences" [sequence]="sequence"></canasta-card-sequence>
          </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-light d-block" (click)="meAction.open()">Me</button> 
        <canasta-card *ngFor="let card of me.hand" [card]="card"></canasta-card>
      </div>
      <div class="col-2">
          <button type="button" class="btn btn-light d-block" (click)="opponent2Action.open()">Opponnent 2</button> 
          <canasta-card-back [count]="opponent2.handCount"></canasta-card-back>
      </div>
    </div>
    </div>
</main>

<canasta-player-action [player]="me" modalId="meAction" (actionDone)="actionDone($event)" #meAction></canasta-player-action>
<canasta-player-action [player]="partner" modalId="partnerAction" (actionDone)="actionDone($event)" #partnerAction></canasta-player-action>
<canasta-player-action [player]="opponent1" modalId="opponent1Action" (actionDone)="actionDone($event)" #opponent1Action></canasta-player-action>
<canasta-player-action [player]="opponent2" modalId="opponent2Action" (actionDone)="actionDone($event)" #opponent2Action></canasta-player-action>

<pre hidden>
  {{ board | json }}
</pre>