<div class="row justify-content-end">
    <div class="col offset-11">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary" (click)="invertPlayersSwitch()">
                    <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
                </button>
                <button type="button" class="btn btn-secondary" (click)="hideMyHandSwitch()" [ngClass]="{'active': hideMyHand}">
                    <fa-icon [icon]="['fas', 'eye-slash']"></fa-icon>
                </button>
                <button type="button" class="btn btn-secondary" (click)="undo()">
                    <fa-icon [icon]="['fas', 'undo-alt']"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<main class="p-3">
  <div class="fluid-container">
    
    <div class="row justify-content-md-center">
      <div [ngClass]="{'col order-1': !inverted, 'col-2 order-2': inverted}">
          <button type="button" class="btn btn-light d-block action-button" (click)="opponent1Action.open()" title="Opponent 1">
                <fa-icon [icon]="['fas', 'user-ninja']"></fa-icon>
          </button> 
          <canasta-card-back [count]="state.board.opponent1.handCount" ></canasta-card-back>
      </div>
      <div [ngClass]="{'col-2 order-2': !inverted, 'col order-1': inverted}">
          <button type="button" class="btn btn-light d-block action-button" (click)="partnerAction.open()" title="Partner">
                <fa-icon [icon]="['far', 'grin-beam-sweat']"></fa-icon>
          </button> 
          <canasta-card-back [count]="state.board.partner.handCount"></canasta-card-back>
      </div>
    </div>
    <div class="game-table">
      <div class="row">
          <div class="col-2">
              <p>Red threes</p>
              <canasta-card *ngFor="let card of state.board.opponentGame.redThrees" [card]="card"></canasta-card>
          </div>
          <div class="col">
              <p>Oponnent's table</p>
              <canasta-card-sequence *ngFor="let sequence of state.board.opponentGame.sequences" [sequence]="sequence"></canasta-card-sequence>
          </div>
      </div>
      <div class="row neutral-zone">
          <div class="col">
              <p>Side deck</p>
              <canasta-card-back *ngIf="state.board.sideDeck1Avaible"></canasta-card-back>
              <canasta-card-back *ngIf="state.board.sideDeck2Avaible"></canasta-card-back>
          </div>
          <div class="col">
              <p>Discard</p>
              <canasta-card *ngIf="lastDiscard" [card]="lastDiscard"></canasta-card>
          </div>
          <div class="col">
              <p>Main deck</p>
              <canasta-card-back [count]="state.board.maindDeckCount"></canasta-card-back>
          </div>
      </div>
      <div class="row">
          <div class="col-2">
              <p>Red threes</p>
              <canasta-card *ngFor="let card of state.board.myGame.redThrees" [card]="card"></canasta-card>
          </div>
          <div class="col">
              <p>My table</p>
              <canasta-card-sequence *ngFor="let sequence of state.board.myGame.sequences" [sequence]="sequence"></canasta-card-sequence>
          </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col" [ngClass]="{'order-1': !inverted, 'order-2': inverted}">
        <button type="button" class="btn btn-light d-block action-button" (click)="meAction.open()" 
            title="Me"
            [ngClass]="{'float-right': inverted}">
                <fa-icon [icon]="['far', 'grin-beam']"></fa-icon>
        </button> 
        <div class="d-inline" *ngFor="let card of state.board.me.hand">
            <canasta-card *ngIf="!hideMyHand" [card]="card" [ngClass]="{'float-right': inverted}"></canasta-card>
            <canasta-card-back *ngIf="hideMyHand"></canasta-card-back>
        </div>
        
      </div>
      <div class="col-2" [ngClass]="{'order-2': !inverted, 'order-1': inverted}">
          <button type="button" class="btn btn-light d-block action-button" (click)="opponent2Action.open()" title="Opponent 2">
            <fa-icon [icon]="['fas', 'user-ninja']"></fa-icon>
          </button> 
          <canasta-card-back [count]="state.board.opponent2.handCount"></canasta-card-back>
      </div>
    </div>
    </div>
</main>

<canasta-player-action [player]="me" [hand]="state.board.me.hand" modalId="meAction" (actionDone)="actionDone($event)" #meAction></canasta-player-action>
<canasta-player-action [player]="partner" [hand]="state.board.partner.hand" modalId="partnerAction" (actionDone)="actionDone($event)" #partnerAction></canasta-player-action>
<canasta-player-action [player]="opponent1" [hand]="state.board.opponent1.hand" modalId="opponent1Action" (actionDone)="actionDone($event)" #opponent1Action></canasta-player-action>
<canasta-player-action [player]="opponent2" [hand]="state.board.opponent2.hand" modalId="opponent2Action" (actionDone)="actionDone($event)" #opponent2Action></canasta-player-action>

<pre hidden>
  {{ state.board | json }}
</pre>