

body{
    background-image: linear-gradient(rgb(156, 156, 156), white, rgb(156, 156, 156));
}
.card{
    font-size: 4.5px !important;

    .selected &{
        outline-color: rgba(54, 54, 155, .6);
        outline-style: solid;
    }

    .selection &{
        cursor: pointer;
    }
}

.card-back .card-count {
    position: absolute;
    top: .1rem;
    left: .4rem;
    color: white;
    font-size: 2rem;
}

.game-table {
    //background-color: rgb(63, 119, 65);
    //background-image: url('assets/img/table-felt.jpg');
    font-family: "Walter Turncoat", Calibri, Helvetica, sans-serif;
    background: -webkit-linear-gradient(90deg, #4CAF50 10%, rgb(66, 136, 69) 90%);
    background: -moz-linear-gradient(90deg, #4CAF50 10%, rgb(66, 136, 69) 90%);
    background: -ms-linear-gradient(90deg, #4CAF50 10%, rgb(66, 136, 69) 90%);
    background: -o-linear-gradient(90deg, #4CAF50 10%, rgb(66, 136, 69) 90%);
    background: linear-gradient(90deg, #4CAF50 10%, rgb(66, 136, 69) 90%);


    border: #2e1a12 solid 8px;
    -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
    padding: 1rem;
    p{
        color: rgba(255, 255, 255, 0.582);;
    }
    .row{
        min-height: 90px;
    }
}

.neutral-zone{
    border-top: 2px dashed rgba(255, 255, 255, 0.582);
    border-bottom: 2px dashed rgba(255, 255, 255, 0.582);
    margin-right: -15px;
    margin-left: -15px;
}

.action-button{
    font-size: 2rem !important;
    width: 100px;
    margin: 10px 0;
}

.btn.heart,
.btn.diamond{
    color: #df0000 !important;
}
span.heart,
span.diamond{
    color: #df0000 !important;
    font-size: 1.5rem;
}
span.spade,
span.club{
    font-size: 1.5rem;
}

.canasta{
    background-color: blue;
    border-radius: 10px;
}